.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 36px; */
    grid-gap: 20px;
}

@media(max-width: 980px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
    }
}
@media(max-width:560px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
}

.catalog-item {
    position: relative;
    padding-top: 198%;
    
}

.catalog-item--wide {
    padding-top: 50%;
    grid-column-end: span 3;

}

.catalog-itemInner {
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;

}