.dialogSetificates {
}

.dialogSetificates-desktop {
    display: flex;
    width: 100%;
    height: 100%;
}

@media(max-width:1220px)  {
    .dialogSetificates-desktop {
        flex-direction: column;
    }
}

.dialogSetificates-coll {
    flex: 1 1 50%;
    max-width: 50%;
}

@media(max-width:1220px)  {
    .dialogSetificates-coll {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.dialogSetificates-coll_catalog {
    padding: 4% 5%;
    color: #1E1E1E;
}
@media(max-width:1220px)  {
    .dialogSetificates-coll_catalog {
        padding-bottom: 16px;
    }
}

.dialogSetificates-coll_preview {
    background-color: #F4F3F9;
    padding: 4% 5%;
}

@media(max-width:1220px)  {
    .dialogSetificates-coll_preview {
        overflow-y: auto;
        background-color: #fff;
        padding-top: 0;
    }
}
@media(max-width:840px)  {
    .dialogSetificates-coll_preview {
        padding-left: 0;
        padding-right: 0;
    }
}

.dialogSetificates-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 3%;
}
@media(max-width:840px)  {
    .dialogSetificates-title {
        font-size: 30px;
    }
}

.dialogSetificates-description {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 7%;
}
@media(max-width:1220px)  {
    .dialogSetificates-description {
        margin-bottom: 2%;
    }
}
@media(max-width:840px)  {
    .dialogSetificates-description {
        font-size: 12px;
    }
}

.dialogSetificates-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5% 3%;
}

@media(max-width:1220px)  {
    .dialogSetificates-list {
        display: none;
    }
}

.dialogSetificates-item {
}

.dialogSetificates-itemLabel {
    display: block;
    width: 100%;
    height: 100%;
}

.dialogSetificates-radio {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.dialogSetificates-itemButton {
    width: 100%;
    height: 100%; 
    display: block;
    position: relative;
    padding-top: 137%;
    border: 1px solid #E3E3E3;
    transition: 0.2s ease-out;
    position: relative;
    cursor: pointer;
}

.dialogSetificates-itemButton:hover {
    border-color: #000;
}

.dialogSetificates-radio:checked + .dialogSetificates-itemButton {
    cursor: default;
}
.dialogSetificates-radio:checked + .dialogSetificates-itemButton:hover {
    border-color: #E3E3E3;
}

.dialogSetificates-itemButton::before {
    content: "";
    height: 2px;
    position: absolute;
    display: block;
    background-color: #000000;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.2s ease-out;
}

.dialogSetificates-radio:checked + .dialogSetificates-itemButton::before {
    opacity: 1;
}

.dialogSetificates-itemThumb {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    object-fit: contain;
    object-position: bottom center;
}

.dialogSetificates-previewHolder {
    position: relative;
    padding-top: 137%;
}

@media(max-width:1220px)  {
    .dialogSetificates-previewHolder {
        display: flex;
        padding-top: 0;
    }
}
@media(max-width:840px)  {
    .dialogSetificates-previewHolder {
        padding-right: 24px;
    }
}

.dialogSetificates-preview {
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
    z-index: 1;
    opacity: 0;
    transition: 0.2s ease-out;
}

.dialogSetificates-previewWrapper {

}
@media(max-width:1220px)  {
    .dialogSetificates-previewWrapper {
        position: relative;
        padding-top: 0;
        min-width: 320px;
    }
}

@media(max-width:840px)  {
    .dialogSetificates-previewWrapper {
        margin-left: 8px;
        margin-right: 8px;
    }
    .dialogSetificates-previewWrapper:first-child {
        margin-left: 28px;
    }
    .dialogSetificates-previewWrapper:last-child {
        margin-right: 28px;
    }
}

.dialogSetificates-preview.active {
    opacity: 1;
}

@media(max-width:1220px)  {
    .dialogSetificates-preview {
        opacity: 1;
        position: static;
    }
}