.firstScreen {
  height: 100vh;
  min-height: 800px;
  color: #fff;
  position: relative;
}

@media (max-width: 840px) {
  .firstScreen {
    height: 800px;
    min-height: auto;
  }
}

.firstScreen-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: coral;
  background: url(../assets/images/Innesa_new/resized/banner_mask.png),
    linear-gradient(180deg, #fdb6db 0%, #ec80b5 100%);
  /* background-image: url(../assets/images/back_1.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right -170px bottom, center center;
  background-size: 50vw 50vw, contain;
}

@media (max-width: 1370px) {
  .firstScreen-bg {
    background-size: 55vw 55vw, contain;
  }
}

@media (max-width: 1220px) {
  .firstScreen-bg {
    background-position: right -170px bottom, center center;
  }
}
@media (max-width: 1100px) {
  .firstScreen-bg {
    background-position: right -100px bottom, center center;
    background-size: 450px 450px, contain;
  }
}

@media (max-width: 540px) {
  .firstScreen-bg {
    background-position: right -100px bottom, center center;
    background-size: 350px 350px, contain;
  }
}

.firstScreen-bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../assets/images/anti_1_new.png);
  background-size: 462px 594px;
  background-repeat: no-repeat;
  background-position: right 430px bottom -70px;
}

@media (max-width: 1450px) {
  .firstScreen-bg::before {
    background-position: right 350px bottom -70px;
  }
}

@media (max-width: 1260px) {
  .firstScreen-bg::before {
    background-position: right 350px bottom -70px;
    background-size: 400px 514px;
  }
}
@media (max-width: 1220px) {
  .firstScreen-bg::before {
    background-position: right 300px bottom -70px;
  }
}

@media (max-width: 1110px) {
  .firstScreen-bg::before {
    background-position: left 30px bottom -70px;
    background-size: 323px 416px;
  }
}
@media (max-width: 620px) {
  .firstScreen-bg::before {
    background-position: left -30px bottom -70px;
  }
}
@media (max-width: 540px) {
  .firstScreen-bg::before {
    background-position: left -35px bottom 10px;
    background-size: 226px 291px;
  }
}

.firstScreen-outer {
  height: 100%;
  position: relative;
}

.firstScreen-header {
  flex-grow: 0.5;
}

.firstScreen-inner {
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1100px) {
  .firstScreen-inner {
    justify-content: flex-start;
  }
}

.firstScreen-inner::before {
  content: "";
  flex-grow: 0.6;
}

@media (max-width: 1100px) {
  .firstScreen-inner::before {
    flex-grow: 0.25;
  }
}

@media (max-width: 840px) {
  .firstScreen-inner::before {
    flex-grow: 0.1;
  }
}

.firstScreen-main {
  max-width: 580px;
  flex-grow: 1;
}

@media (max-width: 1100px) {
  .firstScreen-main {
    text-align: center;
    margin: 0 auto;
    flex-grow: 0;
    margin-bottom: 16px;
  }
}

.firstScreen-title {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 64px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media (max-width: 740px) {
  .firstScreen-title {
    font-size: 8.2vw;
    line-height: 8.3vw;
  }
}

.firstScreen-descr {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 0.02em;

  margin-bottom: 32px;
}

@media (max-width: 740px) {
  .firstScreen-descr {
    font-size: 18px;
  }
}

.firstScreen-buttonsHolder {
  overflow: hidden;
}

.firstScreen-buttons {
  display: flex;
  margin: -8px;
}

@media (max-width: 1100px) {
  .firstScreen-buttons {
    justify-content: center;
  }
}
@media (max-width: 540px) {
  .firstScreen-buttons {
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
}

.firstScreen-button {
  padding: 8px;
  /* flex-basis: 50%; */
}

@media (max-width: 1100px) {
  .firstScreen-button {
    flex-basis: 50%;
  }
}

@media (max-width: 540px) {
  .firstScreen-button {
    padding: 4px;
  }
}

.firstScreen-footer {
  font-family: "RF Dewi";
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 1100px) {
  .firstScreen-footer {
    text-align: center;
  }
}

@media (max-width: 840px) {
  .firstScreen-footer {
    font-size: 12px;
  }
}

.firstScreen-download {
  text-decoration: underline;
  color: #1e1e1e;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 16px;
  display: inline-block;
}
