.header {
    padding: 16px 0;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    margin: -12px;
}

@media(max-width:840px) {
    .header-content {
        text-align: center;
        flex-direction: column;
        margin: -4px;
    }
}

.header-logo {
    height: 34px;
    padding: 12px;
    box-sizing: content-box;
}

@media(max-width:840px) {
    .header-logo {
        height: 20px;
        padding: 4px;
    }
}

.header-menu {
    padding: 12px;
}

@media(max-width:840px) {
    .header-menu {
        padding: 4px;
    }
}