.lastScreen {
position: relative;
overflow: hidden;
}

.lastScreen-bg{
    position: absolute;
    left: 0;right: 0;top: 0; bottom: 0;
    background-color: #F0F0F0;
}

.lastScreen-outer {
position: relative;
}

.lastScreen-inner {
    display: flex;
    flex-direction: column;
}

.lastScreen-info {
    display: flex;
    margin: -8px;
    justify-content: space-between;
}

.lastScreen-infoColumn {
    flex-grow: 1;
    padding: 8px;
}

.lastScreen-infoColumn:last-child{
    max-width: 45%;
    /* max-width: 530px; */
}

@media (max-width: 1100px) {
    .lastScreen-infoColumn:last-child {
        max-width: 100%;
    }
}

.lastScreen-infoColumn:first-child{
    padding-right: 5%;
}

@media (max-width: 1100px) {
    .lastScreen-infoColumn:first-child {
        padding-right: 0;
        max-width: 630px;
    }
}

.lastScreen-title {
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 36px;
    font-weight: 300;
}

@media(max-width: 1100px) {
    .lastScreen-title {
        margin-bottom: 0;
    }
}

.lastScreen-title b {
    font-weight: 800;
}

.lastScreen-title br {
    /* display: none; */
}

@media (min-width: 560px) {
    .lastScreen-title br {
        display: none;
    }
}

.lastScreen-description {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-top: 16px;
}
.lastScreen-description a {
    color: inherit;
    text-decoration: underline;
    color: #EC80B5;
    font-weight: 600;
    font-size: 1.1em;
}

.lastScreen-underDescription {
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;
}

@media (max-width: 840px) {
    .lastScreen-underDescription {
        font-size: 12px;
    }
}

@media (max-width: 1100px) {
    .lastScreen-info {
        flex-direction: column;
    }
}


@media (max-width: 840px) {

 

    .lastScreen-title {
        font-size: 28px;
    }

    .lastScreen-description {
        font-size: 16px;
        margin-bottom: 16px;
        margin-top: 0;
    }
}

.lastScreen-fillOutApplication {
    display: inline-block;
}

@media (max-width:1100px) {
    .lastScreen-fillOutApplication {
        display: none;
    }
}


.lastScreen-production {
    /* height: 450px; */
    padding-top: 37%;
    background-image: url("../assets/images/last_section_new.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* margin-bottom: 58px; */
    border-bottom: 1px solid #D7D7D7;
}

@media (max-width:560px) {
    .lastScreen-production {
        background-size: cover;
        padding-top: 44%;
        margin: 0 -16px;
        margin-top: 10%;
    }
}

.lastScreen-goToMainSite{
    display: inline-block;
    margin: auto;
    display: none;
}

@media (max-width:560px) {
    .lastScreen-goToMainSite {
        display: none;
    }
}

.lastScreen .section {
    padding-bottom: 16px;
}

.lastScreen-fillOutApplicationMobile {
    display: none;
    max-width: 300px;
    margin: auto;
}

@media (max-width:1100px) {
    .lastScreen-fillOutApplicationMobile {
        display: block;
        margin-top: 30px;
    }
}
