.lastScreen {
position: relative;
overflow: hidden;
}

.lastScreen-bg{
    position: absolute;
    left: 0;right: 0;top: 0; bottom: 0;
    background-color: #F0F0F0;
}

.lastScreen-outer {
position: relative;
}

.lastScreen-inner {
    display: flex;
    flex-direction: column;
}

.lastScreen-info {
    display: flex;
    margin: -8px;
}

.lastScreen-infoColumn {
    flex-grow: 1;
    padding: 8px;
}

.lastScreen-title {
    font-size: 56px;
    line-height: 1.2;
}

.lastScreen-title b {
    font-weight: 800;
}

.lastScreen-title br {
    /* display: none; */
}

@media (min-width: 560px) {
    .lastScreen-title br {
        display: none;
    }
}

.lastScreen-description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 32px;
    margin-top: 16px;
}


@media (max-width: 840px) {

    .lastScreen-info {
        flex-direction: column;
    }

    .lastScreen-title {
        font-size: 28px;
    }

    .lastScreen-description {
        font-size: 16px;
        margin-bottom: 16px;
        margin-top: 0;
    }
}

.lastScreen-fillOutApplication {
    display: inline-block;
}

@media (max-width: 840px) {
    .lastScreen-fillOutApplication {
        display: block;
        max-width: 200px;
        margin: auto;
    }
}


.lastScreen-production {
    /* height: 450px; */
    padding-top: 37%;
    background-image: url("../assets/images/last_section.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* margin-bottom: 58px; */
    border-bottom: 1px solid #D7D7D7;
}

@media (max-width:560px) {
    .lastScreen-production {
        background-size: cover;
        padding-top: 44%;
        margin: 0 -16px;
        margin-top: 10%;
    }
}

.lastScreen-goToMainSite{
    display: inline-block;
    margin: auto;
    display: none;
}

@media (max-width:560px) {
    .lastScreen-goToMainSite {
        display: none;
    }
}

.lastScreen .section {
    padding-bottom: 16px;
}


