    .maskProduct {
    display: flex;
    flex-direction: column;
}

@media(max-width:840px) { 
    .maskProduct {
        text-align: center;
    }
}

.maskProduct--fontBackground {

}


.maskProduct-imageHolder{
    position: relative;
    padding-top: 100%;
    flex-grow: 1;
}

@media(max-width:640px) {
    .maskProduct-imageHolder {
        padding-top: 80%;
    }
}

.maskProduct-image {
    position: absolute;
    left: 0;right: 0;left: 0;bottom: 0;
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    text-align: center;
    /* transition: 0.2s ease-out; */
}
/* 
.maskProduct:hover .maskProduct-image {
    opacity: 0;
    transition: none;
} */

.maskProduct-title {
    position: relative;
    display: inline-block;
    
}

@media(max-width: 840px) {
    .maskProduct-title {
        margin: auto;
    }
}

@media(max-width: 840px) {
    .maskProduct--fontBackground:hover .maskProduct-title {
        color: #fff;
    }
}

.maskProduct--fontBackground  .maskProduct-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 3px;
    max-width: 120px;
}

.maskProduct-titleInner {
    position: relative;
}

/* .maskProduct--fontBackground */

.maskProduct-hoverImage {
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    /* z-index: 1; */
    opacity: 0;
    transform: scale(1.5);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* .maskProduct:hover .maskProduct-hoverImage {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.2s ease-out;
} */

/* @media (hover: none) {
    .maskProduct:hover .maskProduct-hoverImage {
        opacity: 0;
    }
  } */
