.massMediaScreen {

}

.massMediaScreen-outer {

}

.massMediaScreen-inner{

}

.massMediaScreen-list {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px 16px;
    grid-template-rows: 36px 36px; 
    grid-template-areas: ". . ." ". \xxx";
}

.xxx {
    grid-area: \xxx
}

@media(max-width:720px) {
    .massMediaScreen-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 21px 21px 21px; 
    }
}

.massMediaScreen-item {
    /* background-color: coral; */
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.massMediaScreen-logo {
height: 100%;
}